@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: #c5c5c558;
  --deactivate: #c3c3c3;
  --darkgrey: #737373;
  --main: #ff9501;
  --header: 75px;
  --header-search-bar: 160px;
  --header-mobile: 150px;
  --nav-height:78px;
  --searchbar-width: 740px;
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
}

ul {
  text-decoration: none;
}

p {
  font-size: 1rem;
  color: var(--foreground);
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--foreground);
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--foreground);
}

h3 {
  font-weight: 700;
  color: var(--foreground);
}

button {
  cursor: pointer;
  font-weight: 600;
}

button:disabled {
  cursor: auto;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

footer {
  border-top: 1px solid var(--border);
}

.content-wrapper {
  padding-top: calc(var(--header-search-bar) + 2rem);
  background-color: white;
  min-height: 100vh;
}

.content-wrapper-wo-searchbar {
  margin-top: 80px;
  border-top: 1px solid var(--border);
}

.search-bar-area {
  top: var(--header);
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--border);
}

header {
  top: 0;
}

.header-top{
  width: 100%;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-items: center;
  background-color: rgba(255, 255, 255, 1);
}

.search-bar {
  margin: auto;
  height: 60px;
  width: var(--searchbar-width);
  border: 1px solid var(--border);
  border-radius: 2rem;
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  background-color: white;
  overflow: hidden;
  font-weight: 500;
}

.search-item:nth-child(2)::before,
.search-item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  width: 2px;
  height: 60%;
  background-color: var(--border);
}

.search-item {
  position: relative;
  padding-left: 1.6rem;
  line-height: 1.4;
  height: 100%;
  align-content: center;
  font-size: 0.9rem;
  border-radius: 2rem;
  transition-duration: 500ms;
  -webkit-animation-duration: 500mx;
}

.search-item:hover {
  background-color: #d5d5d5b4;
}

.search-icon {
  font-size: 1rem;
  background-color: var(--main);
  z-index: 1000;
  position: absolute;
  top: 30px;
  left: calc(50% + (var(--searchbar-width))/2 - 3.3rem);
}

.search-icon:hover {
  background-color: #dd8100;
  cursor: pointer;
}

.web-who-box {
  left: calc(50% + (var(--searchbar-width))/3);
}

.web-where-box {
  left: calc((100% - (var(--searchbar-width)))/2);
}

.search-item:nth-child(1):hover+.search-item:nth-child(2)::before {
  opacity: 0;
}

.search-item:nth-child(2):hover+.search-item:nth-child(3)::before {
  opacity: 0;
}

.search-item:nth-child(2):hover::before {
  opacity: 0;
}

.search-item:nth-child(3):hover::before {
  opacity: 0;
}

.search-item:nth-child(1).clicked+.search-item:nth-child(2)::before {
  opacity: 0;
}

.search-item:nth-child(2).clicked+.search-item:nth-child(3)::before {
  opacity: 0;
}

.search-item:nth-child(2).clicked::before {
  opacity: 0;
}

.search-item:nth-child(3).clicked::before {
  opacity: 0;
}

.menu {
  position: fixed;
  top: var(--header);
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  overflow: hidden;
  cursor: pointer;
}

.menu li{
  padding: 0.5rem 1rem ;
}

.menu li:hover{
  background-color: var(--border);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-quicksand: var(--font-quicksand-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.mobile {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.mobile::-webkit-scrollbar {
  display: none;
}

.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: var(--nav-height);
  border-top: 1px solid var(--border);
  background-color: white;
  padding: 0.8rem 0;
}

.nav-bar p {
  color: var(--deactivate);
  font-size: 0.7rem;
  margin-top: 0.2rem;
  font-weight: 800;
}

.nav-icon {
  width: 24px;
  height: 24px;
  color: var(--deactivate);
}

@media (max-width: 767px) {
  .web {
    display: none;
  }

  .mobile {
    display: block;
  }

  header {
    border-bottom: none;
    height: var(--header-mobile);
    align-content: flex-end;
  }

  .content-wrapper {
    margin-top: var(--header-mobile);
    margin-bottom: calc(var(--nav-height) + 20px);
    padding: 0 1.6rem;
    background-color: white;
  }

  .content-wrapper-wo-searchbar {
    margin-top: 0;
    margin-bottom: var(--nav-height);
    border-top: none;
  }

  .search-bar {
    width: 100%;
    height: 60px;
    align-content: center;
  }

  .search-bar-area {
    border: none;
  }
}