@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: #c5c5c584;
  --deactivate: #c3c3c3;
  --darkgrey: #737373;
  --main: #ff9501;
  --header: 170px;
  --header-mobile: 140px;
  --nav-height:78px;
  --serachbar-width: 740px;
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
}

p {
  font-size: 1rem;
}

h3 {
  font-weight: 700;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

footer {
  border-top: 1px solid var(--border);
}

.content-wrapper {
  margin-top: var(--header);
}

header {
  border-bottom: 1px solid var(--border);
  position: fixed;
  height: var(--header);
  backdrop-filter: blur(10px);
  z-index: 1;
  align-items: center;
  justify-items: center;
  background-color: rgba(255,255,255,0.3);
}

.search-bar {
  margin: 1rem auto;
  height: 60px;
  width: var(--serachbar-width);
  border: 1px solid var(--border);
  border-radius: 2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  background-color: white;
  overflow: hidden;
}

.search-item:nth-child(2)::before,
.search-item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  width: 2px;
  height: 60%;
  background-color: var(--border);
}

.search-item {
  position: relative;
  padding-left: 1.6rem;
  line-height: 1.4;
  height: 100%;
  align-content: center;
  font-size: 0.9rem;
  border-radius: 2rem;
}

.search-item:hover {
  background-color: #d5d5d5b4;
}

.search-icon {
  font-size: 1rem;
  background-color: var(--main);
  z-index: 1000;
  position: absolute;
  top: 105px;
  left: calc(50% + (var(--serachbar-width))/2 - 3.3rem);
}

.search-icon:hover {
  background-color: #dd8100;
  cursor: pointer;
}

.web-who-box {
  left: calc(50% + (var(--serachbar-width))/3);
}

.web-where-box {
  left: calc((100% - (var(--serachbar-width)))/2);
}

.search-item:nth-child(1):hover+.search-item:nth-child(2)::before {
  opacity: 0;
}

.search-item:nth-child(2):hover+.search-item:nth-child(3)::before {
  opacity: 0;
}

.search-item:nth-child(2):hover::before {
  opacity: 0;
}

.search-item:nth-child(3):hover::before {
  opacity: 0;
}

.search-item:nth-child(1).clicked+.search-item:nth-child(2)::before {
  opacity: 0;
}

.search-item:nth-child(2).clicked+.search-item:nth-child(3)::before {
  opacity: 0;
}

.search-item:nth-child(2).clicked::before {
  opacity: 0;
}

.search-item:nth-child(3).clicked::before {
  opacity: 0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-quicksand: var(--font-quicksand-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mobile {
  display: none;
}

.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: var(--nav-height);
  border-top: 1px solid var(--border);
  background-color: white;
  padding: 0.8rem 1rem;
}

.nav-bar p {
  color: var(--darkgrey);
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.nav-icon {
  width: 24px;
  height: 24px;
  color: var(--deactivate);
}

.active {
  color: var(--main);
}

@media (max-width: 767px) {
  .web {
    display: none;
  }

  .mobile {
    display: block;
  }

  header {
    border-bottom: none;
    height: var(--header-mobile);
    align-content: flex-end;
  }

  .content-wrapper {
    margin-top: var(--header-mobile);
    margin-bottom: calc(var(--nav-height) + 20px);
    padding: 0 1.6rem;
  }

  .search-bar {
    width: 100%;
    height: 60px;
    align-content: center;
  }
}